.main-container {
    -fx-padding: 5px;
}

#titleLabel {
    -fx-font-weight: bold;
    -fx-font-size: large;
}

.account-property-box {
    -fx-padding: 5px 0 5px 0;
    -fx-spacing: 3px;
}

.account-property-box > Label {
    -fx-font-weight: bold;
}

.account-property-box > TextField {
    -fx-min-width: 200px;
}

#accountNumberField {
    -fx-font-family: monospace;
}
