.root {
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: rgb(26, 26, 26);
}

.mono-font {
    -fx-font-family: "JetBrains Mono", monospace;
}

.large-font {
    -fx-font-size: 18px;
}

.small-font {
    -fx-font-size: 10px;
}

.error-text {
    -fx-font-size: small;
    -fx-text-fill: red;
}

.bold-text {
    -fx-font-weight: bold;
}

.italic-text {
    -fx-font-style: italic;
}

.large-text {
    -fx-font-size: large;
}

.std-padding {
    -fx-padding: 3px;
}
.padding-extra {
    -fx-padding: 6px;
}
.padding-extra-1 {
    -fx-padding: 10px;
}

.std-spacing {
    -fx-spacing: 3px;
}
.spacing-extra {
    -fx-spacing: 6px;
}
.spacing-extra-1 {
    -fx-spacing: 10px;
}

.hand-cursor {
    -fx-cursor: hand;
}

/* Standard "tile" styling. */
.tile {
    -fx-border-color: lightgray;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.tile-border-selected {
    -fx-border-color: darkgray;
}

/* Standard colors */
.normal-color-text-fill {
    -fx-text-fill: rgb(26, 26, 26);
}

.secondary-color-fill {
    -fx-fill: rgb(99, 99, 99);
}

.negative-color-text-fill {
    -fx-text-fill: rgb(247, 37, 69);
}
.negative-color-fill {
    -fx-fill: rgb(247, 37, 69);
}

.positive-color-text-fill {
    -fx-text-fill: rgb(43, 196, 77);
}
.positive-color-fill {
    -fx-fill: rgb(43, 196, 77);
}

/* DEBUG BORDERS */
.debug-border-1 {
    -fx-border-color: red;
}

.debug-border-2 {
    -fx-border-color: lime;
}

.debug-border-3 {
    -fx-border-color: blue;
}

.debug-border-4 {
    -fx-border-color: magenta;
}
