.mono-font {
    -fx-font-family: monospace;
}

.bold-text {
    -fx-font-weight: bold;
}

.small-text {
    -fx-font-size: small;
}

.error-text {
    -fx-font-size: small;
    -fx-text-fill: red;
}

.form-container {
    -fx-max-width: 500px;
    -fx-spacing: 3px;
    -fx-padding: 3px;
}

.buttons-container {
    -fx-padding: 3px;
    -fx-spacing: 3px;
}

#descriptionField {
    -fx-pref-height: 100px;
    -fx-min-height: 100px;
}
